<div class="header_settings">
  <select
    name="select"
    [(ngModel)]="sourceNews"
    name="sourceNews"
    (change)="onChange()"
  >
    <option disabled>Select source</option>
    <option [value]="srcNews.local">{{ srcNews.local }}</option>
    <option [value]="srcNews.global">{{ srcNews.global }}</option>
  </select>
  <form>
    <input
      type="text"
      [(ngModel)]="valueForFiltering"
      (ngModelChange)="changeValue($event)"
      name="filter"
    />
    <button (click)="clearFilter()">Clear filter</button>
  </form>
  <div class="checkCreation">
    <input type="checkbox" checked />
    <span>Only created by me</span>
  </div>
  <button routerLink="/create">Add article</button>
</div>
