<app-header-settings
  (onChangedFilter)="onChangeFilterValue($event)"
></app-header-settings>
<div class="list_wrapper" *ngIf="articles.length">
  <div class="list_articles">
    <app-article-item
      *ngFor="let article of (articles | searchByName: valueFromFilter)"
      [article]="article"
      (delete)="deleteArticle($event)"
      (edite)="editeArticle($event)"
      (readMore)="readMoreArticle($event)"
    ></app-article-item>
  </div>
  <button (click)="loadMore()" *ngIf="canLoadMore">
    Load More {{ filterValue }}
  </button>
</div>
