<div class="news_item">
  <img src="{{ article.urlToImage }}" alt="" />
  <div class="data_article">
    <h4>{{ article.title }}</h4>
    <p>
      {{ article.description }}
    </p>
    <a [routerLink]="['/articlePage', article.id]">Read more...</a>
  </div>
  <div class="time_mark">
    <p>{{ article.publishedAt }}</p>
    <p>{{ article.author }}</p>
  </div>
  <div class="control_block">
    <button class="edite icon" [routerLink]="['/edite', article.id]">
      <i class="material-icons">edit</i>
    </button>
    <button class="delete icon" (click)="onDelete()">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>
