<div class="article_page">
  <h2>{{ article.heading }}</h2>
  <img src="{{ article.urlToImage }}" alt="" />
  <p>{{ article.content }}</p>
  <p>{{ article.publishedAt }}</p>
  <p>{{ article.author }}</p>
  <div class="control_block">
    <button class="edite icon" [routerLink]="['/edite', article.id]">
      <i class="material-icons">edit</i>
    </button>
    <button class="delete icon" (click)="onDelete()">
      <i class="material-icons">delete</i>
    </button>
    <button class="home icon" routerLink="/">
      <i class="material-icons">home</i>
    </button>
  </div>
</div>
