<% include layout/header.ejs %>

<form method="POST">
  <label for="heading">Article's title: </label>
  <br />
  <input type="text" name="heading" />
  <br />
  <label for="content">Article's content: </label>
  <br />
  <textarea type="text" name="content" cols="30" rows="7"></textarea>
  <br />
  <br />
  <label for="description">Article's description: </label>
  <br />
  <textarea type="text" name="description" cols="30" rows="3"></textarea>
  <br />
  <label for="author">Article's author: </label>
  <br />
  <input type="text" name="author" />
  <br />
  <label for="publishedAt">Data: </label>
  <br />
  <input type="text" name="publishedAt" />
  <br />
  <label for="urlToImage">Path to image: </label>
  <br />
  <input type="text" name="urlToImage" />
  <br /><br />
  <button type="submit">Post my article!</button>
</form>

<% include layout/footer.ejs %>
