<% include layout/header.ejs %>

<p><strong>News page</strong></p>

<br /><br />

<form action="/auth" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Log In" />
  </div>
</form>

<br /><br />
<a href="/createArticle">Add new article</a>
<br /><br />

<ul>
  <% articles.forEach(function(article){ %>
  <li>
    <h4 style="display:inline-block"><%= article.title %></h4>
    <a href="/deleteArticle/<%= article.id %>">delete</a>
    <span> | </span>
    <a href="/updateArticle/<%= article.id %>">update</a>
    <p><%= article.body %></p>
    <br />
  </li>
  <% }) %>
</ul>

<% include layout/footer.ejs %>
